body {
  background-color:#fff;
  font-family: arial, verdana;
  font-size: 100%;
  }
.next-button {
    
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0 20px;
    height: 50px;
    width: auto;
    background: #fff;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 8px;
    text-align: center;
    color: #19b394;
    border: 2px solid transparent;
    outline: none;
    vertical-align: center;
  }
  .welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(0.3 * 100vh);
  }
  h1 {
    font-size: 200%; 
    color: rgb(33, 33, 39); 
    text-align:center;
    font-family: serif;
    font-style: italic;
    }
    .msg{
padding-inline-start: 3cm;
text-decoration-color: rgb(41, 36, 36);
font-family: Times, "Times New Roman", Georgia, serif;
font-size: 1.2em;
margin-top: 10px;
font-style: normal;
color:rgb(9, 8, 8);
    }
    .titre{
      padding-inline-start: 2cm;
      text-decoration-color: rgb(121, 78, 78);
      font-family: serif;
      font-size: 1.5em;
      margin-top: 10px;
          }
