
  @media print{
    #printbtn {
      display :  none;

    }
}


body {
  background-color: rgba(255, 255, 255, 0.878);
  font-family: arial, verdana;
  font-size: 100%;
}
.next-button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter",Helvetica,"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0.3 * 100vh);
}
h1 {
   color: #7c795d; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; font-weight: normal; 
  line-height: 48px;
   margin:  1.6em 24px;  
   }
.titre{
   color: #7c795d; 
  font-family: 'Source Sans Pro', sans-serif; 
  padding-inline-start: 2cm;
  text-decoration-color: rgb(121, 78, 78);
  font-family: serif;
  font-size: 1.5em;
  margin-top: 10px;
 }
 .msg{ color: #4c4a37;
  padding-inline-start: 3cm;
  text-decoration-color: rgb(41, 36, 36);
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.2em;
  margin-top: 10px;
  font-style: normal;
  color: rgb(9, 8, 8);
     }
  